/.DS_Store
/out
# Java
target/
*.class

# Maven
.mvn/

# IntelliJ
.idea/
*.iml

# Node
node_modules/
build/

# Python
__pycache__/
*.pyc
venv/

# Logs
*.log

# OS
.DS_Store

# Environment
.envtask-manager-backend.zip
